body{
  text-align: center;
}

.container-fluid{
  padding: 7% 15%;
}

#title{
  position: fixed;
  z-index: 1;
  background-color: #fa9191;
  color: #fff;
  padding: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: rgba(255,255,255,0.8);
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  padding: 0 10px;
}

#carousel-id{
  padding-top: 80px;
  background-color: #fab7b7;
}

.carousel-img{
  position: relative;
  height: 300px;
  background-size: cover;
}

#price-cards{
  padding: 5% 5%;
}

.card-container{
  background-color: #f3e1e1;
}

.card-btn{
  background-color: #fa9191;
  font-weight: bold;
  color: #fff;
}

.footer-img {
  padding: 2% 20px;
}

.Copyright-text{
  color: #888888;
}

@media (max-width: 425px){
  .carousel-img{
    width: 100%;
  }
  .search-btn{
    display: none;
  }
}
